<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Set a style for the submit button */
.AddBook {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.AddBook:hover {
  opacity: 1;
}
</style>
</head>
<body>

<form id= "UserOptions" action="">
  <div class="container">
    <h1>DashBoard </h1>
    <hr>
	
    <input type=button onClick="location.href='TextbookInput.html'" type="submit" class="AddBook" value = "AddBook">
  </div>
</form>

</body>
</html>